html{
    height: 100%;
    width: 100%;
    background-color: #191615;
}
body{
    margin: 0;
    height: 100%;
}
a, u {
    color: red;
  }
.info{
    width: 80%;
    height: 80%;
    position: flex;
    float:left;
    margin-left: 15%;
    margin-top: 5%;
}
.general_info span{
    color: white;
}
.shelldon{
    color: red;
    font-size: 240%;
}
.whoami{
    color: #0076fc;
    font-size: 150%;
    margin-left: 3%;
}
.general_info{
    color: #00fa07;
    font-size: 150%;
    margin-left: 6%;
}

.posts{
    color:#0076fc;
    font-size: 150%;
    margin-left: 3%;
}
.post_message{
    color: white;
    font-size: 150%;
    margin-left: 6%;
}
.aboutme{
    color:#0076fc;
    margin-left: 3%;
    font-size: 150%;
}
.aboutmelink{
    margin-left: 6%;
    font-size: 150%;
}
